@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

:root {
    ---size: 300px;
}

body {
    background: #2f363e;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
}

.container .notes {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}

.container .notes .note {
    font-family: 'Caveat', cursive;
    border-radius: 15px;
    font-weight: 400;
    font-size: 2.1875rem;
    position: relative;
    width: var(---size);
    min-height: var(---size);
    background: #f7e98d;
    padding: 23px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    word-wrap: break-word;
}

.container .notes .note::before {
    content: 'Double Click to remove this note';
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.875rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s all;
}

.container .notes .note:hover::before {
    opacity: 1;
}

#create {
    position: relative;
    width: var(---size);
    height: var(---size);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    cursor: pointer;
}

#create i {
    position: absolute;
    color: #fff;
}

.create__box {
    position: relative;
    width: var(---size);
    height: var(---size);
    z-index: 1000;
    display: none;
}

.create__textarea textarea {
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    width: var(---size);
    height: var(---size);
    padding: 20px;
    outline: none;
    font-size: 0.2em;
    resize: none;
}

.note__text h3 {
    font-style: italic;
    user-select: none;
    font-size: 1.45em;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.modal__content {
    position: absolute;
    width: 600px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal__title {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 30px;
}

.modal__descr {
    margin-top: 10px;
    font-size: 18px;
}

.modal__instructions {
    margin-top: 50px;
    text-align: left;
    line-height: 30px;
    font-size: 20px;
}

.modal__instructions span {
    color: #f7e98d;
    text-transform: uppercase;
}

.modal__ending {
    margin-top: 30px;
    font-size: 30px;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 60px;
    line-height: 40px;
    cursor: pointer;
}
